---
import type { ScheduleEntry } from "../../lib/WebMaster/schedule";
import { getCytubeUrl, type CytubeMetadata } from "../../lib/cytube";

export interface Props {
	event: ScheduleEntry;
}

const event: ScheduleEntry = Astro.props.event;
const cytube: CytubeMetadata = getCytubeUrl(event.channel);
---
<article class="h-event schedule-item" itemscope itemtype="https://schema.org/Event">
	<h4 class="p-name" itemprop="name">
		{event.title}
	</h4>
	<div class="meta">
		<time class="dt-start" datetime={event.startTime} itemprop="startDate">
			{event.startTime}
		</time>
		Duration:
		<time class="dt-duration" datetime={event.duration.toString()} itemprop="duration">
			{event.duration.format()}
		</time>
	</div>
	<div class="meta">
		Streaming to
		<span class="location">
			<a href={cytube.url} itemprop="url" target="_blank" rel="external noopener">
				{cytube.name}
			</a>
		</span>
	</div>
	<p class="p-summary" itemprop="description" set:html={event.description} />
</article>
<style>
	.schedule-item {
		background: rgba(255, 255, 255, 0.05);
		border-left: 4px solid var(--color-grey);
		padding: 1.5rem;
		margin-bottom: 1rem;
		text-align: left;
	}
	.meta {
		font-size: 0.95rem;
		color: var(--color-grey);
		margin-bottom: 0.75rem;
		font-weight: bold;
	}
	.meta span,
	.meta time {
		margin-right: 20px;
	}
	.p-summary {
		line-height: 1.6;
		margin: 0;
	}
</style>