---
import Layout from "../layouts/Layout.astro";
import ScheduleDays from "./ScheduleDays.astro";
import ScheduleGraph from "./ScheduleGraph.astro";
import ScheduleList from "./ScheduleList.astro";
import ScheduleNav from "./ScheduleNav.astro";
import { DAY_ORDER as dayOrder, getGroupedSchedule, type ScheduleEntry } from "../lib/WebMaster/schedule";

export interface Props {
	view: "list" | "grid-platform" | "grid-channel";
}

const { view }: Props = Astro.props;
const groupedSchedule: Record<string, Array<ScheduleEntry>> = await getGroupedSchedule();
---
<Layout title="Schedule" description="See the schedule for /mlp/ con 2026! Don't suffer from FOMO, be sure to catch your favorites.">
	<h2>Event Schedule</h2>
	<ScheduleNav />
	<ScheduleDays dayOrder={dayOrder}>
		{view === "list" && <ScheduleList groupedSchedule={groupedSchedule} dayOrder={dayOrder} />}
		{view !== "list" && <ScheduleGraph groupBy={view === "grid-platform" ? "platform" : "channel"} groupedSchedule={groupedSchedule} dayOrder={dayOrder} />}
	</ScheduleDays>
</Layout>
<script>
	(function (): void {
		function formatTimeElement(timeElement: HTMLTimeElement, formatter: Intl.DateTimeFormat): void {
			if (timeElement.dateTime) {
				const parsedDate: Date = new Date(timeElement.dateTime.replace(" ", "T"));
				timeElement.textContent = formatter.format(parsedDate);
			}
		}

		function localizeListTimes(): void {
			const formatter: Intl.DateTimeFormat = new Intl.DateTimeFormat([], {
				day: "numeric",
				hour: "numeric",
				minute: "2-digit",
				month: "long",
				timeZoneName: "short",
				weekday: "long",
			});

			document.querySelectorAll(".dt-start").forEach((time: Element) => {
				formatTimeElement(time as HTMLTimeElement, formatter);
			});
		}

		function localizeGridTimes(): void {
			const formatter: Intl.DateTimeFormat = new Intl.DateTimeFormat([], {
				hour: "numeric",
				minute: "2-digit"
			});

			document.querySelectorAll(".grid-dt").forEach((time: Element) => {
				formatTimeElement(time as HTMLTimeElement, formatter);
			});
		}

		if (typeof Intl !== "undefined" && typeof Intl.DateTimeFormat !== "undefined") {
			localizeListTimes();
			localizeGridTimes();
		}
	})();
</script>